html {
    --ion-dynamic-font: var(--ion-default-dynamic-font);
    --ion-font-family: 'Inter', sans-serif;
  }
.italic {
    font-style: italic;
}
body {
  background-color: #ffffff;
}

ion-content {
  --background: #ffffff;
}
/* toast css  */
ion-toast.custom-toast {
  --background: #f4f4fa;
  --box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.1);
  --color: #4b4a50;
}

ion-toast.custom-toast::part(message) {
  font-style: italic;
}

ion-toast.custom-toast::part(button) {
  border-left: 1px solid #d2d2d2;
  /* color: #030207; */
  color: #ffffff;
  font-size: 15px;
}

/* detail font  */
.detail__header{
  font-size: 17px;
  color: #626060;
  font-weight: 600;
  line-height: 18px;
}
.detail__sub{
  font-size: 17px;
  color: #9A9898;
  font-weight: 400;
  line-height: 18px;
}

.custom__icon1 {
  font-size: 32px;
  color: #0070F2;
}